#cart{
   
    height: fit-content;
    left: 20px;
    width: 20rem;
    top: 13rem;
    background-color: gainsboro;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    display: block;
    z-index: 100;
   
}